In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv(r'C:\Users\Vandan Patel\Desktop\trip planner\Ai-Trip-Planner\Backend\trip_planner.packages.csv')

In [7]:
data

,name,category,highlights,duration,price
0,Kerala Backwater Delight,Nature,Houseboat Cruise Kerala Tea Gardens,6,35000
1,Amritsar Golden Temple Tour,spiritual,Golden Temple Jallianwala Bagh Wagah Border,3,7000
2,Spiti Valley Road Trip,Adventure,Tabo Monastery Chandratal Lake,6,30000
3,Hampi Heritage Site,Heritage,Virupaksha Temple Vittala Temple,4,11000
4,Bangalore Tech Tour,Cultural,Vidhana Soudha Lalbagh Botanical Gardens,2,6000
...,...,...,...,...,...
116,Brahma Temple Pushkar,spiritual,"Brahma Temple, Pushkar Lake",3,7000
117,Kodaikanal Hill Station Tour,Nature,Coaker's Walk Bryant Park,4,16000
118,Madurai Temple Tour,Heritage,Meenakshi Temple Thirumalai Nayakkar Mahal,3,7000
119,Tiruchirappalli Temples Tour,Heritage,Sri Ranganathaswamy Temple Rock Fort Temple,2,6000
120,Dwarka and Somnath Pilgrimage,spiritual,"Dwarkadhish Temple, Somnath Temple, Rukmini Te...",5,15000

In [4]:
data.shape

(110, 8)